<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Welcome</h1>
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <button onclick="location.href='/uploads'" class="btn btn-primary mt-3">Get Started</button>
            </div>
        </div>
    </div>
</body>
</html>